numpy
pandas
matplotlib
pyproj
rasterio
shapely
rtree
graphviz
pytest>=3.0
laspy
configargparse
oyaml
future
scipy
scikit-image
scikit-learn
fiona
toml
tqdm

# Required for generating documentation
sphinxcontrib-napoleon

# You will want to manually install these!
torch  
torchvision
